<form class="container col-md-2 col-md-offset-2" ng-submit="addRecord()" id="invoice" name="my-form" style="background-color:#E6E6FA; max-width:850px;margin-top:100px;">

<div class="row">
      <div class="col-xs-12 heading">
        INVOICE
      </div>
    </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="invoice-number-container">
          <label for="invoice-number">Invoice #</label><input type="text" id="invoice-number" name="invoice-number" ng-model="invoice_number" placeholder="Enter Invoice Number" required/>
          <label for="gst-number">GST #</label><input type="text" id="gst-number" name="gst-number" ng-model="gst_number" placeholder="Enter GST Number" required/>
          <label for="mou-number">MOU #</label><input type="text" id="mou-number" name="mou-number" ng-model="mou_number" placeholder="Enter MOU Number" required/>
          <label for="aut-number">AUT #</label><input type="text" id="aut-number" name="aut-number" ng-model="aut_number" placeholder="Enter AUT Number" required/>

          <span ng-show="my-form.$dirty && my-form.invoice-number.$error.required">This is a required field</span>
          <span ng-show="my-form.$dirty && my-form.gst-number.$error.required">This is a required field</span>
          <span ng-show="my-form.$dirty && my-form.mou-number.$error.required">This is a required field</span>
          <span ng-show="my-form.$dirty && my-form.aut-number.$error.required">This is a required field</span>
        </div>
      </div>
      <div class="col-xs-6 logo-container">
        
        <img ng-hide="logoRemoved" id="company_logo" ng-src="{{ logo_url }}" alt="your image" width="32" />
        <div>
          <div class="noPrint" ng-hide="printMode">
            
            <!--<a ng-click="editLogo()" href >Edit Logo</a>-->
            <a ng-click="toggleLogo()" id="remove_logo" href >{{ logoRemoved ? 'Show' : 'Hide' }} logo</a>
          </div>
        </div>
        <input type="text" id="logo_url" name="logo_url" ng-model="logo_url" placeholder="Enter Logo URL" required/>

      </div>
    </div>
  <hr>
    <div class="row infos">
      <div class="col-xs-6">
         <div class="input-container"><input type="text" ng-model="name" name="name" placeholder="Customer Name" required/></div>
        <div class="input-container"><input type="text" ng-model="web_link" name="web_link" placeholder="Web link" required/></div>
        <div class="input-container"><input type="text" ng-model="address1" name="address1" placeholder="Address 1" required/></div>
        <div class="input-container"><input type="text" ng-model="address2" name="address2" placeholder="Address 2" required/></div>
        <div class="input-container"><input type="text" ng-model="postal" name="postal" placeholder="Postal" required/></div>
        <div class="input-container" data-ng-hide="printMode">
          <select ng-model="currencySymbol" ng-options="currency.symbol as currency.name for currency in availableCurrencies"></select>
        </div>
      </div>
      <div class="col-xs-6 right">
         <div class="input-container"><input type="text" ng-model="name_c" name="name_c" placeholder="Company Name" style="text-align: left;" required/></div>
        <div class="input-container"><input type="text" ng-model="web_link_c" name="web_link_c" placeholder="Web link" style="text-align: left;" required/></div>
        <div class="input-container"><input type="text" ng-model="address1_c" name="address1_c" placeholder="Address 1" style="text-align: left;" required/></div>
        <div class="input-container"><input type="text" ng-model="address2_c" name="address2_c" placeholder="Address 2" style="text-align: left;" required/></div>
        <div class="input-container"><input type="text" ng-model="postal_c" name="postal_c" placeholder="Postal" style="text-align: left;" required/></div>
      </div>
    </div>
    <div class="items-table">
      <div class="row header">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-5">Description</div>
        <div class="col-xs-2">Quantity</div>
        <div class="col-xs-2">Cost {{currencySymbol}}</div>
        <div class="col-xs-2 text-right">Total</div>
      </div>
      <div class="row invoice-item" ng-repeat="item in invoice.items" ng-animate="'slide-down'">
        <div class="col-xs-1 remove-item-container">
          <a href ng-hide="printMode" ng-click="removeItem(item)" class="btn btn-danger">[X]</a>
        </div>
        <div class="col-xs-5 input-container">
          <input ng-model="item.description" name="description" placeholder="Description" required/>
        </div>
        <div class="col-xs-2 input-container">
          <input ng-model="item.qty" name="qty" value="1" size="4" ng-validate="integer" placeholder="Quantity" required/>
        </div>
        <div class="col-xs-2 input-container">
          <input ng-model="item.cost" name="cost" value="0.00" ng-validate="number" size="6" placeholder="Cost" required/>
        </div>
        <div class="col-xs-2 text-right input-container">
          <input ng-modal="item.total" value="{{Total() | currency: currencySymbol}}" readonly/>
        </div>
      </div>
      <div class="row invoice-item">
        <div class="col-xs-12 add-item-container" ng-hide="printMode">
          <a class="btn btn-primary" href ng-click="addItem()" >[+]</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 text-right">Sub Total</div>
        <div class="col-xs-2 text-right">
          <input ng-modal="item.subtotal" value="{{invoiceSubTotal() | currency: currencySymbol}}" readonly/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 text-right">Tax: 
          <div class="col-xs-2 input-container text-right">
            
            <table class="table table-hover" style="margin-top:10px;">
   
    <tbody>
      <tr>
        <td> <input type="checkbox" ng-model="invoice.cgst"  ng-disabled="invoice.export" name="cgst" ng-true-value="9.0" ng-false-value="0.0"  style="zoom:1.5;"  ng-change="invoice.cgst" />            
</td>
        <td> <label >CGST(%):</label>
</td>
        <td> <input ng-model="invoice.cgst" ng-disabled="invoice.export" name="cgst" ng-validate="number" style="width:50px;" placeholder="0.0" required/>
</td>
      </tr>
      <tr>
        <td> <input type="checkbox" ng-model="invoice.igst"  ng-disabled="invoice.export" name="igst" ng-true-value="9.0" ng-false-value="0.0" style="zoom:1.5;" ng-change="invoice.igst" />
</td>
        <td> <label >IGST(%):</label>
</td>
        <td> <input ng-model="invoice.igst" ng-disabled="invoice.export" name="igst" ng-validate="number" style="width:50px;" placeholder="0.0" required/>
</td>
      </tr>
      <tr>
        <td> <input type="checkbox" ng-model="invoice.export"  ng-disabled="invoice.igst || invoice.cgst" name="export" ng-true-value="9.0" ng-false-value="0.0" style="width:50px;zoom:1.5;" ng-change="invoice.export" />            
</td>
        <td> <label >Export(%):</label>
</td>
        <td> <input ng-model="invoice.export"  ng-disabled="invoice.igst || invoice.cgst" name="export" ng-validate="number" style="width:50px;" placeholder="0.0" required/>
</td>
      </tr>
    </tbody>
  </table>
            
          </div>
        </div>
        <div class="col-xs-2 text-right">
          <input ng-modal="item.tax" value="{{(calculateTax() +  calculateTax2())| currency: currencySymbol}}" readonly/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 text-right">Grand Total:</div>
        <div class="col-xs-2 text-right">
          <input ng-modal="item.grandtotal" value="{{calculateGrandTotal() | currency: currencySymbol}}" readonly/>
        </div>
      </div>
    </div>
    <div class="row noPrint actions">
      <a href="#" class="btn btn-primary" ng-show="printMode" ng-click="printInfo()">Print</a>
      <a href="#" class="btn btn-primary" ng-click="clearLocalStorage()">Reset</a>

      <button ng-disabled="my-form.$invalid" type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
 <script type="text/javascript" src="/ckbox.js"></script>