<div class="container">
            <div class="col-md-1">
              
           </div>
            <div class="col-md-7 " style="margin-top: 10px;">      
             <div class="page-header"> 
              <h3 class="thirdHeading">
                        INVOICES
                        </h3> 
             
                <table border="1px" style="width:60%;colspan:4;border-color:white">
                  <thead>
                    <tr>
                      <td><h4 style="text-align:left;">
                        Invoice number
                        </h4></td>
                      <td><h4 style="text-align:left;">Customer Name</h4></td>
                      
                      <td><h4 style="text-align:left;">Company Name</h4></td>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="record in records">
                      <td><a href="#/records/{{record._id}}">{{record.invoice.invoice_number}}</a></td><td>{{record.invoice.customer_info.name}}</td><td>{{record.invoice.company_info.name_c}}</td> 
                    </tr>
                  </tbody>
               </table>
        <!-- <div ng-repeat="record in records | filter : { record.invoice_number : '!!' } | filter: nameFilter" style="background-color:#FFFFFF;margin-bottom:15px;">
            <div class="eachBiz img-thumbnail" style="border: 0px solid #ddd;float:left; width:100%; background-color:#FDFDFD; padding:10px;margin-bottom:15px;border-radius: 0px;">
             <div class="col-md-3" style="padding:0px;">
              <img class="img-thumbnail" src="{{record.link}}" style="width:200px;height: 120px;">
           </div>
           <div class="col-md-9">
              <div>
                 <h4 style="margin-top: 0px;">
                  <a href="#/records/{{record._id}}">{{record.invoice_number}}</a>   
               </h4>
               <span class="glyphicon glyphicon-thumbs-up"
               ng-click="incrementUpvote(record)"></span> {{record.customer_info}}
            </div>
           <!-- <div class="col-md-5 col-md-offset-7" style="padding-right:0px;text-align:right;">
              {{record.category}}
           </div>
           <div class="col-md-5 col-md-offset-7" style="padding-right:0px;text-align:right;">
              {{record.address}}
           </div>-->
        </div>

     </div>
  </div>
<!-- </div> 
</div>

</div-->