<div class="col-md-4 col-md-offset-4" style="background-color: white; padding-bottom:25px;margin-top: 2%;">  
  <div class="page-header">


    <div>
      <h1>
        INVOICE: #{{record.invoice.invoice_number}}
      </h1>
    </div>
  </div>
    <ul class="nav nav-pills" role="tablist">
        <li ng-class="{ active: isSet(1) }"><a href ng-click="setTab(1)">Customer Details</a></li>
        <li ng-class="{ active: isSet(2) }"><a href ng-click="setTab(2)">Company Details</a></li>
      <li ng-class="{ active: isSet(3) }"><a href ng-click="setTab(3)">Item Details</a></li>
       <li ng-class="{ active: isSet(4) }"><a href ng-click="setTab(4)">Update Record</a></li>
    </ul>
    <div class="tab-content">
      <div  ng-show="isSet(1)" style="margin-top:10px">
       
          
        <div class="col-md-7">
       <div>          
         <h3>
         Name:</h3> {{record.invoice.customer_info.name}}
        </div><br>
           <div> 
          <h3>
             Weblink:</h3> {{record.invoice.customer_info.web_link}}
          </div><br>
           <div> 
             <h3>
               Address 1:</h3>{{record.invoice.customer_info.address1}}
          </div><br>
          <div>
          <h3>
            Address 2:</h3>{{record.invoice.customer_info.address2}}
            </div><br>
            <div>
          <h3>
            Postal:</h3>{{record.invoice.customer_info.postal}}
          </div>
          </div>
        <div class="col-md-5">
          <img src="{{record.invoice.logo_url}}" style="width:200px;height:120px;">
         
        </div>
      </div>
      <div ng-show="isSet(2)" style="margin-top:10px">
        
     <div class="col-md-7">
       <div>          
         <h3>
         Name:</h3> {{record.invoice.company_info.name_c}}
        </div><br>
           <div> 
          <h3>
             Weblink:</h3> {{record.invoice.company_info.web_link_c}}
          </div><br>
           <div> 
             <h3>
               Address 1:</h3>{{record.invoice.company_info.address1_c}}
          </div><br>
          <div>
          <h3>
            Address 2:</h3>{{record.invoice.company_info.address2_c}}
            </div><br>
            <div>
          <h3>
            Postal:</h3>{{record.invoice.company_info.postal_c}}
          </div>
          </div>
         <div class="col-md-5">
          <img src="{{record.invoice.logo_url}}" style="width:200px;height:120px;">
          
        </div>
      </div>
      
      <div ng-show="isSet(3)" style="margin-top:10px">
        <!--fgtfghfg
        {{record.invoice}}-->
        <div ng-repeat="item in record.invoice.items">
     <div class="col-md-7">
       <div>          
         <h3>
         Quantity:</h3> {{item.qty}}
        </div>
           <div> 
          <h3>
             Description:</h3> {{item.description}}
          </div>
           <div> 
             <h3>
               Cost:</h3>{{item.cost}}
          </div>
       
           <div> 
             <h3>
               Tax(%):</h3>{{item.tax}}
          </div>
       <div> 
             <h3>
               Total:</h3>{{item.total}}
          </div>
        <div> 
             <h3>
               SubTotal:</h3>{{item.subtotal}}
          </div>
        <div> 
             <h3>
               Grand Total:</h3>{{item.grandtotal}}
          </div><br>
       
       
       </div>
          <div class="col-md-5">
          <img src="{{record.invoice.logo_url}}" style="width:200px;height:120px;">
           
        </div>
     
      </div>

</div>
     
        
      
        <div ng-show="isSet(4)" style="margin-top:10px" >
       
           <div ng-show="isLoggedIn()">
        <div class="col-md-7">
       <div>          
         <h3>
         Customer Name:</h3> {{record.invoice.customer_info.name}}
        </div><br>
           <div> 
          <h3>
            Customer Weblink:</h3> {{record.invoice.customer_info.web_link}}
          </div><br>
           <div> 
             <h3>
              Customer Address 1:</h3>{{record.invoice.customer_info.address1}}
          </div><br>
          <div>
          <h3>
           Customer Address 2:</h3>{{record.invoice.customer_info.address2}}
            </div><br>
            <div>
          <h3>
           Customer Postal:</h3>{{record.invoice.customer_info.postal}}
          </div><br>
          <div>          
         <h3>
       Company Name:</h3> {{record.invoice.company_info.name_c}}
        </div><br>
           <div> 
          <h3>
            Company Weblink:</h3> {{record.invoice.company_info.web_link_c}}
          </div><br>
           <div> 
             <h3>
              Company Address 1:</h3>{{record.invoice.company_info.address1_c}}
          </div><br>
          <div>
          <h3>
           Company Address 2:</h3>{{record.invoice.company_info.address2_c}}
            </div><br>
            <div>
          <h3>
           Company Postal:</h3>{{record.invoice.company_info.postal_c}}
          </div>
         
          </div>
          </div>
           <div class="col-md-5">
             
            <div ng-hide="isLoggedIn()">
              <h3>You need to <a href="/#/login">Log In</a> as admin before you can edit the record.</h3>
            </div>
          </div>
       
      </div>
         
    
      
  </div>
  <style>
.innerHeader{position:relative;z-index:6;background-color:#ffcf05}
</style>
</div>

